@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap');
/*font-family: 'Noto Sans KR', sans-serif; font-weight:100;300;400;500*/

@mixin base{
    margin:0;
    padding:0;
    box-sizing: border-box;
    line-height:1;
}
@mixin box($w,$h,$r){
    @if($r=="px"){
        width:$w+px;
        height:$h+px;
    }@else if($r=="%"){
        width:(100/$w)+%;
        height:$h+px;
    }
}
@mixin flex($direction, $rap, $just,$items,$con){
    display:flex;
    flex-flow:$direction $rap;
    justify-content: $just;
    align-items: $items;
    align-content: $con;

}
@mixin font($type,$size,$weight,$col){
    @if($type="noto"){
        font-family: 'Noto Sans KR', sans-serif;
    }
    font-size: $size+px;
    font-weight: $weight;
    color:$col;
}

@mixin transition($property,$duration,$timing){
    transition:$property $duration+s $timing;
}
$margin:0 auto;
$cursor:pointer;
$alignC:center;
*{
    @include base;
}
.testdiv{
    @include box(400,100,'px');
    @include flex(row,nowrap,center,center,"");
    @include font('noto',14,300,'black');
    margin:$margin;
    padding: 20px;
    border:1px solid  black;
    &>input{
        margin-right:10px;
        visibility: hidden;  //display:none은 퍼블리싱 간격이 변경되므로 hidden이 바람직함
    }
    &>label{
        width:auto;
        height:30px;
        line-height: 30px;
        cursor:$cursor;
        position:relative;
    }
    &>label:before{
        content:"";
        position:absolute;
        @include box(25,25,'px');
        background-image:url('./images/pc_ico.png');
        background-position-x:-30px;
        left:-30px;
        top:1px;
        background-repeat: no-repeat;
    }
    &>label.checks:before{
        background-position-x:0px;
    }
}

/*.testdiv>input:checked + .labelcss:before{
    background-position-x:0px;
}*/
