@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap');
/*font-family: 'Noto Sans KR', sans-serif; font-weight:100;300;400;500*/
$margin:0 auto;
$cursor:pointer;
$alignC:center;
$colors:rgb(27, 182, 209), rgb(246, 252, 253), rgb(36, 32, 32);
$border:1px solid black;
/*
@mixin
1.font
2.ul,ol(flex)로 생성(float:left, display:inline-block)
3.image(background)
4.flex
5.@media
6.span, label
7.input,select,textarea
8.transform,transition
9.color,opacity
*/
@mixin base{
    margin:0;
    padding:0;
    box-sizing: border-box;
    line-height:1;
}
@mixin box($w,$h,$r){
    @if($r=="px"){
        width:$w+px;
        height:$h+px;
    }@else if($r=="%"){
        width:(100/$w)+%;
        height:$h+px;
    }
}
@mixin flex($direction, $rap, $just,$items,$con){
    display:flex;
    flex-flow:$direction $rap;
    justify-content: $just;
    align-items: $items;
    align-content: $con;

}
@mixin font($type,$size,$weight,$col){
    @if($type="noto"){
        font-family: 'Noto Sans KR', sans-serif;
    }
    font-size: $size+px;
    font-weight: $weight;
    color:$col;
}

@mixin transition($property,$duration,$timing){
    transition:$property $duration+s $timing;
}
*{
    @include base;
}
.gallery{
    @include box(300,250,'px');
    border:1px solid gray;
    position:relative;
    overflow:hidden;
}
.gallery_label{
    @include box(1,250,'%');
    @include transition(all, 1, linear);
    display:none;
    position:absolute;
    &:first-child{
        z-index: 5;
        display:block;
    }
    &>img{
        @include box(1, 250,'%');
        object-fit:cover;
        position:absolute;
        z-index:1;
        &>:first-child{
            z-index:5;
        }
    }

}