@charset "utf-8";
@mixin base{
    margin:0;
    padding:0;
    box-sizing: border-box;
    line-height: 1;
}
*{@include base;}
@mixin radiosmix{
    content:'';
    width:16px;
    height:16px;
    border:2px solid pink;
    border-radius:50%;
    background-color:white;
    color:pink;
}
@mixin radiosmix2{
    content:"";
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: white;
}