@charset "UTF-8";
/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;  font-weight:100,300,400,500,700,900*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/*font-family: 'Nanum Gothic',   font-weight:400,700,800 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
/*font-family: 'Nanum Pen Script', cursive;  font-weight:400*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100;300;400;500;600;700;800;900&display=swap');
/*font-family: 'Big Shoulders Stencil Display', cursive;  font-weight:100~900(200제외)*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/*font-family: 'Open Sans', sans-serif;  font-weight: 300,400,600,700,800*/

@mixin font($family,$fweight,$fsize,$fcolor){
    @if($family=="noto"){
        font-family: 'Noto Sans KR', sans-serif;
    }@else if($family=="gothic"){
        font-family: 'Nanum Gothic'
    }@else if($family=="pen"){
        font-family: 'Nanum Pen Script';
    }@else if($family=="big"){
        font-family: 'Big Shoulders Stencil Display', cursive;
    }@else if($family=="open"){
        font-family: 'Open Sans', sans-serif;
    }
    font-weight:$fweight;
    font-size:$fsize+px;
    color:$fcolor;

}
@mixin subpage{
    height:auto;
    @include font('noto',400,13,rgb(69,73,82));
}
@mixin flex($direction,$wrap,$just,$items,$content){
    display:flex;
    flex-flow:$direction $wrap;
    justify-content: $just;
    align-items: $items;
    align-content: $content;
}
@mixin div($div_width, $div_height, $div_margin, $div_padding, $div_border){
    width:$div_width;
    height:$div_height;
    @if($div_margin=="auto"){
        margin:0 auto;
    }@else{
        margin:$div_margin;
    }
    padding:$div_padding;
    border:$div_border;
}
@mixin position($ps){
    @if($ps=="re"){
        position:relative;
    }@else if($ps=="ab"){
        position:absolute;
    }@else if($ps=="fi"){
        position:fixed;
    }
}
@mixin bg($ap,$bgcolor,$bgurl,$img-position,$img-size){
    @if($ap==0){
        background-color:rgba($bgcolor);
    }@else if($ap==1){
        background-color: $bgcolor;
    }@else if($ap==2){
        background-image:url($bgurl);
        background-repeat: no-repeat;
        background-position:$img-position;
        background-size:$img-size;
    }
}

@mixin btn($btnCol, $fcol){
    background-color: $btnCol;
    color:$fcol;
    font-family: 'Nanum Gothic';
    font-size: 13px;
    cursor:pointer;
    outline:0;
}
.cursor{
    cursor:pointer;
}
/*==========주문 상세 내역============*/ 
.product_buy_div{
    @include div(1000px, auto, 0 auto, 0,0);
}
.product_buy_p{
    @include div(100%, 100px, 0, 0, 0);
    @include font("gothic", 800, 16,#454952);
    text-align: center;
    line-height: 80px;
    border-bottom: 2px solid #ccc;
}
.order_list_lb{
    @include div(100%, 60px, 0, 0, 0);
    @include font("noto","", 15,#454952);
    line-height: 60px;
    border-bottom: 1px solid #454952;

}
.product_buy_title_ul{
    @include div(100%, 40px, 0, 0, 0);
    border-bottom: 1px solid #ccc;
    color:gray;
    overflow: hidden;
        &>li{ 
            line-height:40px;
          }
}
.product_buy_list_ul{
    @include div(100%, 80px, 0, 0, 0);
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
.product_buy_title_ul,.product_buy_list_ul{
    &>li{ 
        float:left;  
        height:100%;
        text-align: center;
      }
      &>li:nth-of-type(1){
          width:250px;
      }
      &>li:nth-of-type(2){
          width:50px;
      }
      &>li:nth-of-type(3){
          width:150px;
      }
      &>li:nth-of-type(4){
          width:150px;
      }
      &>li:nth-of-type(5){
          width:150px;
      }
      &>li:nth-of-type(6){
          width:250px;
      }
}
.product_buy_list_ul{
    &>li{ 
        padding:10px;
      }
    @for $i from 2 through 5 {
        &>li:nth-of-type(#{$i}){
            line-height:60px;
        }
    } 
}
//상품, 옵션 정보
.product_buy_list_ul> li:nth-of-type(1){
    text-align: left !important;
}
.buylist_img_div{
    @include div(40px, 40px, 10px 10px 0 0, 0, 0);
    float:left;
    background-color: gray;
    &>img{
        @include div(40px, 40px, 0, 0, 0);
        object-fit: cover;
    }
}
.product_buy_list_div{
    @include div(180px, auto, 0, 0, 0);
    float:left;
    &>span:nth-of-type(1){
        @include div(100%, 25px, 0, 0, 0);
        line-height: 25px;
        
    }
    &>span:nth-of-type(2), &>span:nth-of-type(3){
        @include div(100%, 15px, 0, 0, 0);
        line-height: 15px;
        font-size: 12px;
        color:gray;  
    }
}
//상품 금액, 합계금액, 수량
.sum_price, .order_ea1{
    color:black;
    font-weight: bold;
}
.ea_price{
    color:black;
}
.product_sales{
    color: orangered;
}
.order_pnm{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
//배송비
.order_deliveryP{
    @include flex(row,wrap,center,center,center);
    font-size: 12px;
    color:gray;  
    line-height: 15px;
}
//장바구니 가기
.go_shbag{
    @include div(100%, 40px, 0, 0, 0);
    line-height: 40px;
}
.go_shbag>.go_shbag_a{
    text-decoration: underline;
    letter-spacing: 1.3;
    color:gray;
    position: relative;
    margin-left: 20px;
}
.go_shbag_a:before{
    content:"<";
    position: absolute;
    left:-10px;
    margin-right: 10px;
}
//상품 합계 표시 영역
.totalPrice_beforePay_ul{
    @include div(100%, 80px, 0, 0 20px 0 0 , 1px solid #ccc);
    @include font("open", 400, 13,gray); 
    @include position('re');
    @include flex(row,nowrap,flex-end,center,center);
    text-align: center;
    overflow: hidden;
    &>li{
       float:left;
    }
    & em{
        font-style: normal;
    }
}
.beforePay_ul_li2, .beforePay_ul_li3{
    margin-left: 40px;
    @include position('re');
    &:before{
        content:"";
        width:25px;
        height:25px;
        background:url('../images/plus.png') no-repeat center;
        background-size: contain;
        @include position('ab');
        left:-32px;
        top:-6px;  
    }
}
.beforePay_ul_li3{
    &:before{
        background:url('../images/total.png') no-repeat center;
        top:-5px;  
    }
}
.beforePay_em1{
    color:salmon;
    font-weight: bold;
}
.beforePay_em2{
    color:black;
    font-size: 14px;
    font-weight: bold;
}
.beforePay_em3{
    color:#454952;
}
.beforePay_em4{
    color:black;
    font-weight: bold;
    font-size: 17px;;
}
.milage{
    @include position('ab');
    font-size: 12px;
    color:salmon;
    bottom:10px;
    right:20px;
}
/*============= 주문자 정보 ===========*/
.orderer_info_div{
    @include div(1000px, 180px, 0 auto, 0 ,0);
    margin-top: 50px;
    overflow: hidden;
}
.orderer_info_p{
    @include div(100%, 30px, 0, 0, 0);
    @include font("noto","", 15,#454952);
    border-bottom: 1px solid #454952;
}
.orderer_info_title_ul{
    @include div(200px, auto, 0, 0, 0);
    float:left;
    &>li{
        @include div(100%, 30px, 0, 0 0 0 5px, 0);
        line-height: 30px;
        border-bottom: 1px solid #ccc;
        background-color: #eee;
    }
}
.orderer_info_content_ul{
    @include div(800px, auto, 0, 0, 0);
    float:left;
    &>li{
        @include div(100%, 30px, 0, 5px 0 0 10px, 0);
        border-bottom: 1px solid #ccc;
        &>input{
            @include div(250px, 20px, 0, 0, 1px solid #ccc);
            text-indent: 5px;
            outline: 0;
        }
    }
    &>.orderer_info_content_li2{
        padding-top:5px;
       &>input{
            float:left;
            margin-right: 7px;
        }
        &>.postcodify{
            width:120px;
        }
    }
}
.orderer_mail_selec{
    @include div(150px, 20px, 0 0 0 5px, 0 0 0 5px, 1px solid #ccc);
    appearance: none;
    outline: 0;
    background: url('../images/select.svg') no-repeat 99% 50%;
    &::-ms-expand{
        display: none;
    }
}
/*================== 배송 정보 ===============*/
.address_info_div{
    @include div(1000px, auto, 0 auto, 0 ,0);
    margin-top: 50px;
    overflow: hidden;
}
.address_info_p{
    @include div(100%, 30px, 0, 0, 0);
    @include font("noto","", 15,#454952);
    border-bottom: 1px solid #454952;
}
.address_info_title_ul{
    @include div(200px, auto, 0, 0, 0);
    float:left;
    &>li{
        @include div(100%, 30px, 0, 0 0 0 5px, 0);
        border-bottom: 1px solid #ccc;
        background-color: #eee;
        line-height: 30px;
    }
    &>.order_addr_li{
        height:90px;
    } 
    &>.order_addr_li_page2{
        height:60px;
    }  
}
//우측 내용
.address_info_content_ul{
    @include div(800px, auto, 0, 0, 0);
    float:left;
    &>li{
        @include div(100%, 30px, 0, 5px 0 0 10px, 0);
        border-bottom: 1px solid #ccc;
    }
    & input[type='text']{
        @include div(250px, 20px, 0, 0, 1px solid #ccc);
        text-indent: 5px;
        outline: 0;
    }   
}
//배송지 확인란 선택
.address_info_content_ul>.address_info_content_li1{
    @include flex(row, nowrap, flex-start, center,"");
    padding-top: 0;
    &>label{
       margin-right:10px;
       cursor: pointer;
       line-height: 30px;
    }
}
.address_info_content_ul>.address_info_content_li2{
    @include flex(row, nowrap, flex-start, center,"");
    &>input{
        float:left;
    }
}
.ordr_btn{
    @include div(100px, 20px, 0, 0, 1px solid #ccc);
    @include btn(#eee, #454952);
    vertical-align: top;
}
// 우편번호 검색
.address_info_content_ul>.order_addr_li{
    height:90px;
    padding-top:0;
 
    &>span{
        height:30px;
        padding-top: 5px;
        &>input{
            display: inline-block;
            vertical-align: -1px;

        }
        &>label{
            display: inline-block;
            color:rgb(25, 134, 230);
            font-size: 12px;
        }
    }
    &>.order_addr_li_sp2{
        overflow:hidden;
        &>input{
            float:left;
            margin-right: 7px;
        }
    }
    &>.order_addr_li_sp3{
        padding:0;
    }

} 
.address_info_content_ul>.order_addr_li_page2{
    height:60px;
}  
.order_addr_search_btn{
    @include div(120px, 20px, 0 0 0 5px, 0, 1px solid #ccc);
    @include btn(#eee, #454952); 
     vertical-align: -1px;
}
//남기실 말씀
.address_info_content_ul>.delivery_msg_li>input{
    width:505px;
}
//회원 정보 반영
.address_info_content_ul>.memberInfoSave_li{
    padding-top:0;

    &>input{
        display: inline-block;
        vertical-align: -1px;
    }
    &>label{
        display: inline-block;
        line-height: 30px;
    }
    & i{
        font-style: normal;
        font-size: 12px;
        color:gray;
        line-height: 30px;
    }
}

/*======================  결제 정보 =======================*/
.order_pay_info_div{
    @include div(1000px, auto, 0 auto, 0 ,0);
    margin-top: 50px;
    overflow: hidden;
}
.order_pay_info_p{
    @include div(100%, 30px, 0, 0, 0);
    @include font("noto","", 15,#454952);
    border-bottom: 1px solid #454952;
}
.order_pay_info_title_ul{
    @include div(200px, auto, 0, 0, 0);
    float:left;
    &>li{
        @include div(100%, 30px, 0, 0 0 0 5px, 0);
        border-bottom: 1px solid #ccc;
        background-color: #eee;
        line-height: 30px;
    }
    &>.order_pay_info_title_li3{
        height:40px;
    }

    &>.order_pay_info_title_li5{
        height:50px;
    }
}

//우측 내용
.order_pay_info_content_ul{
    @include div(800px, auto, 0, 0, 0);
    float:left;
    &>li{
        @include div(100%, 30px, 0, 0 0 0 10px, 0);
        border-bottom: 1px solid #ccc;
    }
    &>.order_pay_info_content_li3{
        height:40px;
    }

    &>.order_pay_info_content_li5{
        height:50px;
    }
    & input[type='text']{
        @include div(150px, 20px, 0, 0, 1px solid #ccc);
        text-indent: 5px;
        outline: 0;
    }
}
.order_pay_info_content_li1, .order_pay_info_content_li7{
    font-weight: bold;
    color:black;
    line-height: 30px;;
}
.order_pay_info_content_li2{
    color:gray;
    font-size: 12px;
    line-height: 30px;;
}
.order_pay_info_content_li3{
    &>span{
        @include position('re');
        height:20px;
        line-height: 20px;
        text-indent: 15px;

        &>i{
            color:gray;
            font-size: 12px;
            font-style: normal;
        }
    }
    &>span:before{
        content:"";
        width:10px;
        height:10px;
        background:url('../images/sale.png') no-repeat center;
        background-size: contain;
        @include position('ab');
        left:0px;
        top:5px;  
    }
    &>span:nth-of-type(2):before{
        background:url('../images/mileage.png') no-repeat center;
    }
}
.order_pay_info_content_li4{
    &>.apply_coupon_btn{
        @include div(120px, 20px, 0, 0, 1px solid #ccc);
        @include btn(#eee, #454952);
        @include position('re');
        top:5px;
    }
}
//마일리지 사용
.myMileage_lb{
    height:30px;
    line-height: 30px;
    &>input{
        display: inline-block;
    }

    &>span{
        display: inline-block;
        color:rgb(25, 134, 230);
        line-height: 30px;
    }
}
.myMileage_sp2{
    height:20px;
    line-height: 15px;
    font-size: 12px;
    color:rgb(25, 134, 230);
}
.order_pay_info_content_li6{
   line-height: 30px;
    &>input, &>label{
        display: inline-block;

    } 
}
//예치금 사용
.depositCk{
    vertical-align: -1px;
    margin-left: 15px;
}
.deposit_save{
    font-size: 12px;
    color:rgb(25, 134, 230);
}
.order_pay_info_content_li7{
    font-size: 14px;
}
/*========================결제 수단 선택/결제======================*/
.order_payment_div{
    @include div(1000px, auto, 0 auto, 0 ,0);
    margin-top: 50px;
    overflow: hidden;
}
.order_payment_p{
    @include div(100%, 30px, 0, 0, 0);
    @include font("noto","", 15,#454952);
    border-bottom: 1px solid #454952;
}
.order_payment_ul{
    @include div(100%, auto, 0, 0, 0);
    &>li{
        @include div(100%, 30px, 0, 0 0 0 5px, 0);
        border-bottom: 1px solid #ccc;
    }
    &>li:nth-of-type(1),   &>li:nth-of-type(4){
        background-color: #eee;
    }
    &>li:nth-of-type(2){
        height:50px;
    }
    &>li:nth-of-type(3){
        height:60px;
    }
}
.order_payment_li1{
    line-height: 30px;
    color:gray;
    &>input, &>label{
        display: inline-block;
    }
    &>input{
        vertical-align: -1px;
    }
}
.order_payment_li2{
    display: none;
    color:gray;
    &>span:nth-of-type(1){
        height:30px;
        line-height: 30px;
        &>input, &>label{
            display: inline-block;
        }
        &>input{
            vertical-align: -1px;
        }
    }
    &>span:nth-of-type(2){
        height:20px;
        font-size: 12px;;
    }
}
.order_payment_li3{
    display: none;
    &>span{
        height:30px;
        line-height: 30px;
        &>input, &>label{
            display: inline-block;
        }
    }
    & input[type='text']{
        @include div(150px, 20px, 0 0 0 10px, 0, 1px solid #ccc);
        text-indent: 5px;
        outline: 0;
    }

    & select{
        @include div(300px, 20px, 0 0 0 10px, 0 0 0 5px, 1px solid #ccc);
        appearance: none;
        outline: 0;
        background: url('../images/select.svg') no-repeat 99% 50%;
        &::-ms-expand{
            display: none;
        }
    }
}

.order_payment_li4{
    display: none;
    line-height: 30px;
    &>span{
        display: inline-block;
        margin-right:10px;
    }
    &>input{
        vertical-align: -1px;
        display: inline-block;
    }
    &>label{
        display: inline-block;
        color:gray;
        margin-right:5px;
    }
}
.total_price_div{
    @include div(1000px, 70px, 30px 0 0 0, 0, 2px solid #ccc);
    @include position('re');
    color:black;
}
.total_price_div_page2{
    margin:0 auto;
    margin-top:50px;
    margin-bottom:50px;

}
.total_price_ul{
    @include div(auto, 30px, 0, 0,0);
    @include position('ab');
    top:50%;
    right:30px;
    margin-top: -15px;
    &>li{
        display: inline-block;
        width:auto;
        height:30px;
        padding:0 3px;
        line-height: 30px;
    }
    &>li:nth-of-type(1){
        font-size: 14px;
        
    }
    &>li:nth-of-type(2){
        font-size: 20px;
        font-weight: 800;
    }
    &>span:nth-of-type(3){
        font-size: 16px;
    }
}
//결제 동의함 및 버튼 영역
.payment_agree_div{
    @include div(100%, 30px, 50px 0 0 0, 0, 0);
    line-height: 30px;
    text-align: center;
    &>label, &>input{
        cursor: pointer;
        display: inline-block;
        position: relative;
    }
    &>input{
        vertical-align: -1px;
        margin-right: 15px;
        display:none;
    }
    & i{
        color:orangered;
        font-style: normal;
        margin-right: 5px;
        font-weight: bold;
    }
}
.paymentAg_lb:after{
    content:"";
    display: inline-block;
    position: absolute;
    background:url('../images/radio_button_orange-24px.svg')  no-repeat center; 
    width:23px;
    height:22px;
    top: 4px;
    left: -23px;
    display:block;
}
.paymentAg_lb:before{
    content:"";
    display: inline-block;
    position: absolute;
    width:23px;
    height:23px;
    border-radius: 50%;
    background:url('../images/check_circle-24px.svg') no-repeat center;
    background-size:cover;
    left:-23px;
    top:3px;
    display:none;
}
.ordercheck:checked + .paymentAg_lb:before{
    display:block;
}
.payment_agree_btn_div{
    @include div(100%, 50px, 10px 0 50px 0, 0, 0);
    text-align: center;
}
.payment_agree_btn{
    @include div(300px, 50px, 0, 0, 0);
    @include btn(#333,white);
}
